<!-- employee list -->
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of emplistData">
                            <td><span>{{emp.FirstName}}</span><span>{{emp.LastName}}</span></td>
                            <td>{{emp.LastName}}</td>
                            <td>{{emp.gender}}</td>
                            <td>{{emp.EmailID}}</td>
                            <td>{{emp.Address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- back button -->
<div class="btn">
    <button class="btn btn-primary" type="submit" (click)="Back()" placement="top">
        Back
    </button>
</div>